
.Ask {
  width: 100%;
}


.tagContainer .rti--container {
  width: 100%;
  background: #1c212c;
}

.tagContainer .rti--container .rti--tag{
  background: #445261;
}

@media only screen and (min-width: 769px)  {
  .Ask {
    width: 60%;
  }
}

