@import '@picocss/pico/css/pico.min.css';

*{
    margin: 0px;
    padding: 0px;
}

.py-100 {
    padding-top: 100px;
}

.padding-btn-normal{
    padding: 5px 10px !important;
}

[role=button]
{
    background-color: transparent !important;
}