@import '@picocss/pico/css/pico.min.css';
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

.py-100 {
    padding-top: 100px;
}

.padding-btn-normal{
    padding: 5px 10px !important;
}

[role=button]
{
    background-color: transparent !important;
}